/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
.wp-block {
  background-color: rgba(139, 139, 150, 0.1);
  /*background-color: #f3f4f5;*/
}

.wp-block .wp-block {
  background: transparent;
}

.wp-block[data-editing=false] {
  padding: 0;
}

.wp-block[data-editing=true] {
  background-size: 0px 0px;
}

.wp-block[data-editing=false][data-loading=true] {
  min-height: 100px;
}

.wp-block[data-editing=false][data-loading=false] {
  background: transparent;
  min-height: 0;
}

.wp-block > .components-spinner {
  display: block;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wp-block--placeholder {
  background: transparent;
}

.wp-block__iframe,
.wp-block__view .components-sandbox {
  border: 0;
  display: block;
  height: 30px;
  margin: 0;
  min-width: 100%;
  pointer-events: none;
}

.wp-block .editor-inner-blocks {
  margin-bottom: 16px;
}

.wp-block .editor-inner-blocks .wp-block__edit {
  padding: 0;
}

.wp-block .editor-url-input {
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.wp-block .editor-url-input.has-suggestions {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wp-block .editor-url-input:not(.has-suggestions) input[type=text] {
  max-width: none;
  width: 100%;
}

.wp-block .editor-url-input:not(.has-suggestions) .components-spinner {
  visibility: hidden;
}

.wp-block .editor-url-input input[type=text] {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wp-block .editor-url-input:focus-within {
  border: 1px solid #007cba;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #007cba;
  box-shadow: 0 0 0 1px #007cba;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.wp-block .components-base-control {
  margin-bottom: 16px;
}

.wp-block .components-base-control__label + .components-select-control__input {
  display: block;
}

.wp-block .components-datetime__date {
  border: 0;
  margin: 0;
}

.wp-block .components-toggle-control .components-form-toggle {
  margin-right: 10px;
}

.wp-block .components-form-toggle__on,
.wp-block .components-form-toggle__off {
  display: none;
}

.wp-block .components-toggle-control__label {
  line-height: 18px;
}

.wp-block .components-radio-control__option .components-base-control {
  margin-bottom: 0;
}

.wp-block .components-radio-control__option .components-base-control__field {
  margin-bottom: 0;
}

.wp-block .components-base-control__rich-text {
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  padding: 6px 8px;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.wp-block .components-base-control__rich-text:focus-within {
  border-color: #007cba;
  -webkit-box-shadow: 0 0 0 1px #007cba;
  box-shadow: 0 0 0 1px #007cba;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.wp-block .components-base-control__rich-text .editor-rich-text__editable {
  margin: 0;
}

.components-vf-control .components-button-group {
  display: block;
}

.wp-block[data-type="undrr/undrr-tabs"] .vf-tabs__link {
  cursor: pointer;
}

.wp-block[data-type="undrr/undrr-tabs"] .vf-tabs__item .components-button {
  margin-top: 10px;
}

.wp-block[data-type="undrr/undrr-tabs"] .wp-block[data-type="undrr/undrr-tabs-section"] {
  outline: 1px dashed var(--vf-ui-color--grey);
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none;
}

/*# sourceMappingURL=undrr-gutenberg-blocks.css.map */