@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "../common/_undrr-custom-props.scss";

.edit-post-visual-editor__content-area {
  @import "../common/undrr-base.scss";
}

@import "../common/undrr-grid.scss";
@import "../common/vf-card.scss";
@import "../common/undrr-hero.scss";
@import "../common/undrr-card.scss";
@import "../common/misc-gutenberg-fixes.scss";

.wp-block-example-example-block {
  .info {
    padding: 20px;
    border: solid 1px #ccc;
    background-color: #e0e0e0;
    font-family: monospace;
    position: absolute;
    right: -20px;
    bottom: -120px;
    width: 300px;
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
  }
}

.wp-block-example-dynamic-block {
  background-color: #ff0;
  border: 2px solid #000;
  padding: 15px;
}

// unset some gutenberg resets
body .editor-styles-wrapper {
  font-family: "Roboto";
  font-size:unset;
  line-height:unset;
 }

 body .editor-styles-wrapper p {
  margin: unset;
  font-size: unset;
  line-height: unset;
}

body .wp-block {
  max-width: 1164px;
}

